<a href="https://colab.research.google.com/github/Ushna39/3mtt-assignment/blob/main/week4_class_activity.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q) Build a python program utilizing data structures,condotional statements and functions to solve a data related task

1)Use of data structure

*Creating list with data

In [ ]:


my_list = []  # create empty list
print(my_list)
my_list = ["aisha", "fatima", "ushna", "khaleefa", "example"]  # creating list with data
print(my_list)

[]
['aisha', 'fatima', 'ushna', 'khaleefa', 'example']

* dictionaries

In [ ]:
my_dict = {} #empty dictionary
print(my_dict)
my_dict = {1: 'school', 2: 'market', 3: 'house',} #dictionary with elements
print(my_dict)

{}
{1: 'school', 2: 'market', 3: 'house'}

*using tuple

In [ ]:
my_tuple = ('rukaiya,hauwa,maryam,salisu,fatima')#create tuple
print(my_tuple)

rukaiya,hauwa,maryam,salisu,fatima

In [ ]:
my_set = {'market, market,shcool, house,house,room,room'} #create set
print(my_set)

{'market, market,shcool, house,house,room,room'}

In [ ]:
# if statement example

if 10 > 5:

    print("20 greater than 10")


print("Program ended")

20 greater than 10
Program ended

In [ ]:

# if..else‚Å¥ statement

a = 4

if a == 4:

    print("Yes")

elif a == 4:

    print("4")

else:

    print("No")

Yes